* {
  margin: 0;
  padding: 0;
}

nav {
  background: #0c3008;
}

a {
  text-decoration: none;
  color: #185c10;
}

.logo {
  width: 90px;
}

.client-card {
  background: #185c10;
  padding: 20px;
  border: 1px solid #f7ce22;
  border-radius: 20px;
}

.number {
  color: #f7ce22;
}

.head {
  color: #f7ce22;
}
.data {
  color: white;
  font-size: 18px;
}

.active-pdf {
  align-items: center;
  width: 100%;
  height: 660px;
}

.pdf-btn {
  background: #f7ce22;
}

.pdf-container {
  align-items: center;
  width: 100%;
  height: 100vh;
}

.pdf-file {
  width: 100%;
  height: 100%;
}

/* 
#185c10;
#f7ce22; */
